
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');/*vt323, 작은 글씨에서는 안 예쁨*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');/*ubuntu mono*/

h1{font-size:30px;}
h2{font-size:18px;}
body{font-size:16px;font-family:'Jeju Myeongjo', serif; line-height:1.5;}
.htmltags{ font-family:'Ubuntu Mono', monospace; color:#CCFF00; background-color:#000000;}/*lime green*/

.css{ font-family:'Ubuntu Mono', monospace; color:#39FF74;background-color:#000000;}/*ufo green*/
#titlebar{
	position:fixed;
	left:0;
	top:0;
	
	border:1px solid grey;
	background-color:white;
	
	text-align:center;
	z-index:100;
	width:100%;
	cursor:pointer;
}


#main{
	position:absolute;
	right:0;
	border: 1px solid grey;

	width:80%;
	padding-top:150px;
}

/*Holy grail Layout 2107*/


.container{
	display:flex;
	flex-direction:column;
	
}
header{
	text-align:center;	
	
	background-color:powderblue;
}

section{
	
	display:flex;
	flex-direction:row;
	
	
	
}
nav{
	width:170px;
	flex-shrink:0;
	
	
}
main{
	
	background-color:#F5F5F5;
	flex-grow:1;
	flex-shrink:1;
}
ad{
	width:75px;
	flex-shrink:0;
}
footer{
	background-color:#D5D5D5;
	text-align:center;	
}
@media(max-width:700px)
				{
					nav, ad{display:none};
					
				}




ul.mylist, ol.mylist{
	list-style:none;
	font-size:15px;
	padding-left:5px;
	
	
}
ul.mylist li, ol.mylist li{
	padding:8px 0px 8px 0px;;
	border-bottom:1px solid powderblue;
	
}

a{
	text-decoration:none;
	color:navy;
}
