
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');/*vt323, 작은 글씨에서는 안 예쁨*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');/*ubuntu mono*/

h1{font-size:30px;}
h2{font-size:18px;}
body{font-size:16px;font-family:'Jeju Myeongjo', serif; line-height:1.5;}
.htmltags{ font-family:'Ubuntu Mono', monospace; color:#CCFF00; background-color:#000000;}/*lime green*/

.css{ font-family:'Ubuntu Mono', monospace; color:#39FF74;background-color:#000000;}/*ufo green*/
#titlebar{
	position:fixed;
	left:0;
	top:0;
	
	border:1px solid grey;
	background-color:white;
	
	text-align:center;
	z-index:100;
	width:100%;
	cursor:pointer;
}


#main{
	position:absolute;
	right:0;
	border: 1px solid grey;

	width:80%;
	padding-top:150px;
}

/*Holy grail Layout 2107*/


.container{
	display:flex;
	flex-direction:column;
	border: 1px grey solid;
}
section{
	
	display:flex;
	flex-direction:row;
	border: 1px grey solid;
	
}
nav{
	width:170px;
	flex-shrink:0;
}
main{
	
	border: 1px grey solid;
	flex-grow:1;
	flex-shrink:1;
}
ad{
	width:75px;
	flex-shrink:0;
}
